@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Slab", serif;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  background-color: black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar a {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
  display: inline-block;
  margin: 15px;
  color: #fff;
  border: 0;
  text-decoration: none;
}

.navbar a:hover {
  color: #fff;
}

.navbar a.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

section {
  margin: 0;
  padding: 0;
  text-align: center;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

#welcome,
#about {
  width: 100vw;
  height: 100vh;
}

.sun {
  height: 18.75em;
  width: 18.75em;
  position: absolute;
  z-index: 1;
  left: calc(50vw - 9.375em);
  border-radius: 50%;
}

.showSun {
  top: calc(50vh - 9.375em);
}

.hideSun {
  top: 50vh;
}

.top-half,
.bot-half {
  height: 50vh;
  width: 100vw;
}

#welcome .bot-half {
  position: absolute;
  z-index: 1000;
}

.hover-text {
  position: relative;
  display: inline-block;
}

.hover-text .hidden-text {
  visibility: hidden;
  width: 7.5em;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  text-transform: none;
  font-size: 12px;
  background-color: #eb7264;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.hover-text:hover .hidden-text {
  visibility: visible;
}

.hover-text .hidden-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #eb7264 transparent transparent transparent;
}

.left-half,
.right-half {
  width: 50vw;
  height: 100vh;
}

.about-row {
  min-height: calc(100vh - 16.25em);
  width: calc(100vw - 16.25em);
  margin: 4em;
  padding: 4em;
}

.me-container {
  float: left;
  width: 30%;
  height: 36em;
}

.me {
  height: 36em;
}

.about-container {
  float: right;
  width: 65%;
  height: 36em;
  text-align: left;
}

.about-title {
  font-size: 2.25em;
  text-transform: uppercase;
  position: absolute;
  font-weight: 300;
  bottom: 20px;
  left: 50px;
}

.about-text {
  font-size: 1.375em;
  font-weight: 200;
  margin: 0 50px;
}

#welcome h1 {
  position: relative;
  top: 50%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#about .title {
  margin: 30vh 0 40px 0;
  font-size: 30px;
  text-decoration: underline;
}

#about .text {
  margin: 0 20%;
  text-align: left;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}

.project-header {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  height: 100px;
  color: black;
  margin-bottom: -75px;
}

.project-title {
  font-size: 32px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  font-weight: 300;
  left: 30px;
}

/* Darkmode Stuff */
@keyframes setAnimation {
  0% {
    top: calc(50vh - 134px);
  }
  50% {
    top: calc(50vh);
  }
  100% {
    top: calc(50vh - 150px);
  }
}

@keyframes darkAnimation {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
  }
}

@keyframes darkerAnimation {
  0% {
    background-color: #fff1e0;
    color: black;
  }
  100% {
    background-color: #1e1e1e;
    color: white;
  }
}

@keyframes borderAnimation {
  0% {
    border: 0.125em solid black;
  }
  100% {
    border: 0.125em solid white;
  }
}

.setClass {
  animation: setAnimation linear 4s;
}

.dark-fade {
  animation: darkAnimation linear 4s;
}

.darker-fade {
  animation: darkerAnimation linear 4s;
}

.dark-border-fade {
  animation: borderAnimation linear 4s;
}

.light-border {
  border: 0.125em solid black;
}

.dark-border {
  border: 0.125em solid white;
}

.light-fade {
  animation: darkAnimation linear 4s;
  animation-direction: reverse;
}

.lighter-fade {
  animation: darkerAnimation linear 4s;
  animation-direction: reverse;
}

.light-border-fade {
  animation: borderAnimation linear 4s;
  animation-direction: reverse;
}

.dark {
  background-color: black;
  color: white;
}

.darker {
  background-color: #1e1e1e;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.lighter {
  background-color: #fff1e0;
  color: black;
}

.hvr-sink {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  -webkit-transform: translateY(16px);
  transform: translateY(16px);
}

.hvr-grow {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
