/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cooper-black');
@import url('http://fonts.cdnfonts.com/css/lost-castedral');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;500;600;700&display=swap');
@font-face {
  font-family: 'Magnolia';
  src: url(../../../styles/Magnolia.ttf);
}

/* Margin & Padding full reset */
* {
  margin: 0;
  padding: 0;
}

/* Fullpage sections */
section {
  width: 100vw;
  height: 100vh;
}

/* 
  Page 1
  Inspiration - https://www.behance.net/gallery/139962237/Industrial-Design-Portfolio-2022
  Colors      - #f0f0e8, #675c3e, #bbb6b3, #000, #d8d8d0
  Fonts       - Default lol
  Hours Spent - 7?
  Rating      - 8/10
  Takeaways   - Should've spent some time in Figma laying this out and planning the HTML layout better.
                Unsure of how to make these shapes responsive.
                Responsive layout is doomed, maybe pt. 2 is just going back
                and refactoring all this code so it's responsive.

*/
section#_1 {
  background-color: #f0f0e8;
  display: grid;
  grid-template-columns: 1fr 0fr 2fr;
}

/* LHS */
#_1 .lhs {
  border-right: 1px solid #675c3e;
  background-color: transparent;
}

#_1 .left-bar {
  position: relative;
  border: none;
  height: 1px;
  background-color: #675c3e;
  top: 65vh;
}

/* Middle */
#_1 .shape {
  margin-right: -2vw;
}

#_1 .title-text {
  position: relative;
  z-index: 10;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 56px;
  height: 70vh;
  width: 280px;
  border: 3px solid #bbb6b3;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2vw;
  top: 15vh;
  cursor: default;
}

/* RHS */
#_1 .rhs {
  display: grid;
  grid-template-rows: 35vh 65vh;
}

#_1 .login-container {
  border-bottom: 1px solid #675c3e;
  position: relative;
  width: 100%;
}

#_1 .circle {
  position: absolute;
  bottom: -44px;
  left: -67px;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 1px solid #675c3e;
}

#_1 .login-text {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 6px;
  text-transform: uppercase;
  cursor: default;
}

/* Form Styling */
#_1 .form-container {
  width: calc(100% - 20vw);
  padding: 4vh 10vw 0 10vw;
}

#_1 form {
  width: 100%;
}

#_1 .names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  width: 100%;
}

#_1 input:focus::placeholder {
  color: transparent;
}

#_1 input {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  margin: 16px 0;
  border: 1px solid #675c3e;
  border-radius: 4px;
  outline: none;
  position: relative;
}

#_1 input[type='submit'] {
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: #d8d8d0;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Label Effect */
#_1 .field {
  position: relative;
  display: inline-block;
  width: 100%;
}

#_1 label {
  color: #675c3e;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 28px;
  padding: 0 2px;
  pointer-events: none;
  background-color: transparent;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  -ms-transition: -ms-transform 200ms ease;
  transition: transform 200ms ease;
  -webkit-transform: translateY(-32px);
  -moz-transform: translateY(-32px);
  -o-transform: translateY(-32px);
  -ms-transform: translateY(-32px);
  transform: translateY(-32px);
}

#_1 input:invalid + label {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#_1 input:focus {
  border-color: #000;
}

#_1 input:focus + label {
  color: #000;
  background-color: transparent;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

/*
  Page 2
  Inspiration - Chobani
  Colors - #193c34, #f4f3ef, and tints of each
  Fonts - Cooper Black, Magnolia
  Hours Spent - 6
  Rating      - 9/10
  Takeaways   - Again should've spent some time in Figma first, though the layout was p simple.
                However, since I came up w the design, it was a bit harder than copying.
                This form looks so much better than the previous one, though the previous patterns were cooler.
                Color and font goes a loooong way.
                Typography is sick and I want to make my own font. Pls let me into a RISD course.
*/

section#_2 {
  background-color: #f4f3ef;
  display: grid;
  grid-template-columns: 1fr 4px 1fr;
}

/* LHS */
/* Curved Text */
#_2 .arced {
  position: relative;
  top: 80px;
  font-family: 'Cooper Black', sans-serif;
  font-size: 96px;
  color: #193c34;
  position: relative;
  border-radius: 50%;
  transform: rotate(-39deg);
  cursor: default;
}

#_2 span {
  height: 400px;
  position: absolute;
  width: 20px;
  transform-origin: bottom center;
}

/* Should've used SASS for this bit lol */
#_2 .c1 {
  transform: rotate(0deg);
}

#_2 .c2 {
  transform: rotate(12deg);
}

#_2 .c3 {
  transform: rotate(24deg);
}

#_2 .c4 {
  transform: rotate(36deg);
}

#_2 .c5 {
  transform: rotate(48deg);
}

#_2 .c6 {
  transform: rotate(60deg);
}

#_2 .c7 {
  transform: rotate(72deg);
}

#_2 .subtitle {
  width: 80%;
  padding: 0 10%;
  position: relative;
  top: 400px;
  font-family: 'Magnolia';
  color: #193c34;
}

#_2 .subtitle-p1 {
  font-size: 28px;
}

#_2 .subtitle-p2 {
  font-size: 16px;
}

#_2 a {
  text-decoration: none;
  color: #193c34;
}

#_2 .divider {
  margin-top: calc(50vh - 150px);
  height: 300px;
  width: 100%;
  background-color: #193c34;
}

/* RHS */
#_2 .rhs {
  margin: 20vh 10%;
  height: 60vh;
  border-radius: 20px;
}

#_2 .form-title {
  border-radius: 20px 20px 0 0;
  padding: 30px 0;
  background-color: #193c34;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Magnolia';
  font-size: 32px;
}

#_2 .form-container {
  background-color: #f7f6f3;
  height: calc(100% - 140px);
  border-radius: 0 0 20px 20px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Form Styling */
#_2 .names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  width: 100%;
}

#_2 form {
  font-family: 'Magnolia';
}

#_2 input:focus::placeholder {
  color: transparent;
}

#_2 input {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  font-size: 18px;
  margin: 16px 0;
  border-radius: 4px;
  outline: none;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#_2 input[type='text'] {
  border: 1px solid #193c34;
  background-color: #f7f6f3;
  font-family: 'Magnolia';
  color: #193c34;
}

#_2 input[type='submit'] {
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: #193c34;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  font-family: 'Magnolia';
}

/* Label Effect */
#_2 .field {
  position: relative;
  display: inline-block;
  width: 100%;
}

#_2 label {
  color: #5e7670;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 32px;
  padding: 0 2px;
  pointer-events: none;
  background-color: #f7f6f3;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  -ms-transition: -ms-transform 200ms ease;
  transition: transform 200ms ease;
  transform: translateY(-24px);
}

#_2 input:invalid + label {
  transform: translateY(0);
}

#_2 input:focus {
  border-color: #112a24;
}

#_2 input:focus + label {
  color: #112a24;
  background-color: #f7f6f3;
  transform: translateY(-24px);
}

#_2 .title-text {
  color: #193c34;
  font-size: 64px;
  font-weight: 100;
}

/*
  Page 3
  Inspiration - Piece of paper on a table???
  Colors - 
  Fonts - 
  Hours Spent - 
  Rating      - ?/10
  Takeaways   - OK THIS ONE'S GONNA HAVE A FIGMA, SASS, AND RESPONSIVE - HALF WEEK PROJECT!!!
*/
