@font-face 
  font-family: magnolia
  src: url('../../../styles/Magnolia.ttf')


@font-face 
  font-family: helvetica-neue
  font-weight: 100
  src: url('../../../styles/HelveticaNeue\ Light.ttf')

@font-face 
  font-family: helvetica-neue
  font-weight: 400
  src: url('../../../styles/HelveticaNeue\ Medium.ttf')


@font-face 
  font-family: helvetica-neue
  font-weight: 700
  src: url('../../../styles/Helvetica\ Neu\ Bold.ttf')

  
*
  margin: 0
  padding: 0

section
  height: 100vh
  width: 100vw
  
#day_1
  padding: 40px
  box-sizing: border-box
  display: flex
  flex-direction: row
  .sidebar
    writing-mode: tb-rl
    transform: rotate(-180deg)
    height: 100%
    text-transform: uppercase
    .day
      font: 400 128px / 128px adobe-garamond-pro
      margin-left: -46px
    .date
      font: 400 72px adobe-garamond-pro
  .text
    box-sizing: border-box
    padding: 0 0 0 60%
    width: 100%
    .title
      font: 400 24px helvetica-neue
    .subtitle
      font: 100 16px helvetica-neue
      text-align: justify